.task{
    background-color: white;
    border: 10px solid rgb(143, 69, 69) ;
    margin-bottom: 5px;
     
 }
 
 .label{
    
     font-size: 50px;
      height: 150px;
 }
 input[type=checkbox] {
     width:80px; height:80px;
    
    }